<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Mr Benseman's Games Site</h1>
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/games?type=list">Games List</a>
            </li>
            <li>
                <a href="/games?type=table">Games Table</a>
            </li>
            <li>
                <form action="/search">
                    <label for="search">Search</label>
                    <input type="text" name="search" id="search" />
                    <input type="submit" value="Search" />
                </form>
            </li>
        </ul>
        <ul>Genres
            {% for genre in genres %}
            <li><a href="/games?genre={{ genre['genre'] }}">{{ genre['genre'] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    
    <main>
    {% block main%}{% endblock %}
    </main>

    <footer>
        <p>&copy; D Benseman 2024</p>
    </footer>
</body>
</html>